/* Website template by freewebsitetemplates.com */
html { overflow-y: scroll; }


body {
	background: url(../images/bg.png) repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	position: absolute;
	margin: center;
	width: 99%;
	padding-left: 1%;
}

a {
	outline: none;
}

img  {
	border: 0;
}

p a {
	color: #A8279D;
}

p a:hover {
	text-decoration: none;
}

#header {
	width: 100%;
	margin: center;
}

#header p,
#header a{
	color:blue;
	text-decoration: none;
}

#header div {
	/*background: url(../images/background1.jpg);*/
	background-color: white;
	margin: center;
	width: 100%;
}
#header div img{
	width: 10%!important;
	height: auto;
	float:left;
	margin: 2% 0px 0px 0px; 
	padding-left:2%;
}
#header div span.seperater{
	display: none;
}

#logo {
	padding: 20px 0px 0px 0px;
	width: auto;
}

#logo div {
	background: rgba(223, 255, 223, .3);
	width: 100%;
	font-family: Impact;
	text-align:center;
}
#logo div p{
	font-size:50px;
	color:green;
}

#navigation {
	background: url(../images/bg-nav-left-curve.gif) no-repeat left top;
	padding-left: 0;
	padding-right: 6px;
	width: auto;
}

#navigation div ul {
	background: url(../images/bg-navigation.gif) repeat-x;
	height: 40px;
	line-height: 40px;
	list-style: none;
	margin: 0;
	padding: 0 0 0 0;
}

#navigation div ul li {
	float: left;
	width:25%;
}

#navigation div ul li a {
	color: #78707d;
	display: block;
	line-height: 40px;
	text-align: center;	
	text-decoration: none;
	text-shadow: 0 1px #f8f8fa;
	width:auto;
}

#navigation div ul li.current a {
	background: lightblue;
	color: #a62599;
	text-shadow: 0 1px #fefffa;
}

#navigation div ul li a:hover {
	background: lightblue;
	opacity: 0.6;
}
@media screen and (max-width: 767px){
	#header div img{
		width: 20%!important;
		height: auto;
		float: none;
		margin: 2% 0% 0% 40%; 
	}

	#header div span.seperater{
		display: block;
	}

	#logo {
	padding: 0px 0px 0px 0px;
	}

	#logo div p{
		font-size:35px;
	}

	#navigation {
		padding: 0px 0px 0px 0px;
		width: 100%;
	}

	#navigation div ul li {
		background: url(../images/bg-navigation.gif) repeat-x;
		width:100%;
	}
}

#breadcrumb {
	padding: 1% 1% 1% 1%;
}
#breadcrumb a:hover {
	color: #A6F7D7;
}
#forum_search {
	float: right;
	width: 25%;
}
#forum_search input {
	width: 80%;
	display: inline;
}
#forum_search button {
	width: 15%;
	background-color:skyblue;
}
#forum_search button i {
	color:white;
}

#body {
	width: 100%;
	padding-bottom: 5%;	
}
span.nav_break,
span.break {
	display: none;
}
span.form_break {
	display: block;
}
#body div#home,
#body div#small_window {
	background:#f3ffe2;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 3%;
}
#body div#small_window {
	width: 50%;
}

#body div#small_window div#hd {
	background:#226002;
	margin: 0 auto;
	padding:1% 0 1% 2%;
	color: white;
	font-weight: bold;
}

#body div#small_window form legend{
	padding: 1% 0 1% 2%;
	font-size: 15pt;
	font-weight: bold;
}

#body div#small_window form label{
	float: left;
	padding: 1% 1% 1% 10%;
}
#body div#small_window form input,
#body div#small_window form select,
#body div#small_window form textarea {
	width: 50%;
	float: right;
	margin-right: 10%;
}
#body div#small_window form button {
	margin-left: 40%;
	width: 20%;
}

#body div#small_window form#login label {
	padding: 1% 1% 1% 15%;
}
#body div#small_window form#login input {
	margin-right: 15%;
}

#body div#small_window form#topic input,
#body div#small_window form#topic textarea {
	width: 60%;
}
#body div#small_window form#topic textarea {
	height: 110px;
}
#body div#small_window form#topic p{
	text-align: center;
	background-color: #A6F7D7;
	padding: 1% 1% 1% 1%;
}



@media screen and (max-width: 767px){
	#breadcrumb {
		padding: 28% 1% 3% 1%;
	}
	#forum_search {
		width: 40%;
	}
	#forum_search input {
		width: 70%;
	}
	#forum_search button {
		float: right;
		width: 25%;
	}
	span.nav_break{
		display: block;
	}
	span.break{
		display: inline;
	}
	#body div#small_window {
		width: 90%;
	}
	span.form_break,
	span.padding {
		display: none;
	}

	#body div#small_window form label{
		padding: 1% 1% 1% 5%;
	}
	#body div#small_window form button{
		margin-left: 35%;
		width: 30%;
	}

	#body div#small_window form#signup input,
	#body div#small_window form#signup select {
		margin-right: 5%;
	}

	#body div#small_window form#login label{
		padding: 1% 1% 1% 10%;
	}
	#body div#small_window form#login input {
		margin-right: 15%;
	}

	#body div#small_window form#topic textarea {
		height: auto;
	}

	#body div#small_window form#herb input {
		margin-right: 10%;
	}

	
}
#body div#main {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 10px;
}

#body div#home div.sidebar,
#body div#main div.sidebar {
	float: left;
	width: 25%;
}

#body div#home div.sidebar img{
	margin: 10% 10% 10% 10%;
	width: 100%;
	height: auto;
}

@media (min-width: 1200px){
	#body div#home div.sidebar ul,
	#body div#main div.sidebar ul {
		list-style: none;
		margin-left: 1%;
		margin-right: -30%;
		padding: 0;
	}
}
@media (max-width: 1199px){
	#body div#home div.sidebar ul,
	#body div#main div.sidebar ul {
	list-style: none;
	margin-left: 1%;
	margin-right: -7%;
	padding: 0;
	}
}

#body div#home div.sidebar ul li,
#body div#main div.sidebar ul li  {
	margin: 5px 0 0;
	overflow: hidden;
	font-size: 15px;
}

#body div#home div.sidebar ul li.first,
#body div#main div.sidebar ul li.first {
	margin: 0;
	color: #626075;
	font-size: 20px;
	font-weight: normal;
}

#body div#home div.sidebar ul li img,
#body div#main div.sidebar ul li img {
	float: left;
}

#body div#home div.sidebar ul li p,
#body div#main div.sidebar ul li p{
	float: left;
	line-height: 24px;
	margin: 0;
	text-align: justify;
}

#body div#home div.content {
	float: right;
	padding: 10px 2% 0px 0px;
	width: 70%;
}
#body div#home div.content:before{
	content: "";
	display: block;
	width: 100%;
	height: 30%; 
	background: url(../images/background1.jpg) no-repeat; 
	opacity: 0.1;
	top: 50;
	left: 0;
	position: absolute;
	z-index: 1;
}

#body div.content {
	width: 90%;
}
#body div.content table .forum_site {
	display: table-cell;
}
#body div.content table .forum_phone {
	display: none;
}
#body div.content table.forum_topic {
	width: 50%;
} 


#body div.content th,
#body div.content tfoot {
	text-align: center;
	font-weight: bold;
	background-color: #E6E6E6;
	text-transform: capitalize;
}

#body div.content th:hover{
	cursor: pointer;
}


#body div#home div.content h1 {
	color: #226002;
	font-size: 20px;
	font-weight: normal;
	line-height: 40px;
	margin: 0;
}

#body div#home div.content p,
#body div#main div.content p,
#body div.content p {
	color: #79677f;
	line-height: 20px;
	margin: 0% 1% 2% 1%;
	text-align: justify;
	padding-bottom:1%
}
#body div#main div.content span.herb_break,
#body div#main div.content span.admin_herb_break,
#body div#main div.sidebar span.herb_detail {
	display: none;
}

@media screen and (max-width: 767px){
	#body div#home div.sidebar{
		display: none;
	}
	#body div#home div.content,
	#body div.content{
		width: 90%;
		margin: center;
		padding: 0 0 0 0;
		float: none;
	}
	#body div.content {
		width: 95%;
	}

	#body div.content table .forum_site{
		display: none;
	}
	#body div.content table .forum_phone{
		display: table-cell;
	}
	#body div.content table.forum_topic {
		width: 80%;
	} 

	#body div#main div.content p{
		text-align: left;
	}
	#body div#main div.content p,
	#body div.content p{
		padding-bottom:3%
	}

	#body div#main div.content span.herb_break,
	#body div#main div.content span.admin_herb_break,
	#body div#main div.sidebar span.herb_detail {
		display: inline;
	}
}

#body div,
div.body div {
	background: none;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

#body div#main div.content {
	background: lightgrey;
	border-radius: 10px;
	float: right;
	padding: 15px 20px 20px 35px;
	width: 70%;
}

#body div div.content h3 {
	color: #09b3d4;
	font-size: 30px;
	font-weight: normal;
}

#body div div.content h3.first {
	margin: 0;
}

#body div div.content p {
	margin: 0;
}

#footer {
	height: auto;
	width: 100%;
	background-color: #E6FFE8;
}

#footer div {
	padding-left:1%;
}
#footer p {
	text-align: center;
}

#footer p.footnote {
	color: #08090e;
	height: 40px;
	line-height: 40px;
	margin: 0;
	text-shadow: 0 1px #353446;
}